.sidebar h2 {
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .chat-list {
    margin-top: 20px;
  }
  
  .chat-item {
    background-color: #4e4e4e;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  